.base{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/*-----Shapes-----*/
.square{
    height: 200px;
    width: 200px;
    background: aquamarine;
}

.rectangle{
    height:200px;
    width: 400px;
    background: aquamarine;
}

.circle{
    width:400px;
    height: 400px;
    border-radius: 200px;
    background: aquamarine;
}

.oval{
    width: 400px;
    height: 200px;
    border-radius: 200px/100px;
    background: aquamarine;
}

.triangle-up{
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid aquamarine;
}

.traingle-down{
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 200px solid aquamarine;
}

.triangle-left{
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-right: 200px solid aquamarine;
    border-bottom: 100px solid transparent;
}

.triangle-right{
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-left: 200px solid aquamarine;
    border-bottom: 100px solid transparent;
}

.triangle-top-left{
    width:0;
    height: 0;
    border-bottom: 100px solid transparent;
    border-left: 200px solid aquamarine;
}

.triangle-top-right{
    width:0;
    height: 0;
    border-bottom: 100px solid transparent;
    border-right: 200px solid aquamarine;
}


.triangle-bottom-left{
    width: 0;
    height: 0;
    border-left: 200px solid aquamarine;
    border-top: 100px solid transparent;
}

.triangle-bottom-right{
    width: 0;
    height: 0;
    border-right: 200px solid aquamarine;
    border-top: 100px solid transparent;
}

.curved-arrow{
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-right: 9px solid aquamarine;
    -webkit-transform: rotate(10deg);
    -o-transform: rotate(10deg);
}

.curved-arrow:after{
    content: "";
    position: absolute;
    border: 0 solid transparent;
    border-top: 3px solid aquamarine;
    border-radius: 20px 0 0 0;
    top: -12px;
    left: -9px;
    width: 12px;
    height: 12px;
    -webkit-transform: rotate(45deg);

}
