.base{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.custom-background{
    background: aquamarine;
}

/*-----Shapes-----*/
.square{
    height: 200px;
    width: 200px;
}

.rectangle{
    height:200px;
    width: 400px;
}

