.base{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/*-----Shapes-----*/
.square{
    height: 200px;
    width: 200px;
    background: aquamarine;
}

.rectangle{
    height:200px;
    width: 400px;
    background: aquamarine;
}

.circle{
    width:400px;
    height: 400px;
    border-radius: 200px;
    background: aquamarine;
}

.oval{
    width: 400px;
    height: 200px;
    border-radius: 200px/100px;
    background: aquamarine;
}

.triangle-up{
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid aquamarine;
}

.traingle-down{
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 200px solid aquamarine;
}


